.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokedex-winner {
  color: #0f8a13;
}

.Pokedex-loser {
  color: #e9361e;
}
